<h1 class="display-6 mt-3 p-2">Consulta de Despesas</h1>
<hr>
<a routerLink="/despesas/cadastrar" class="btn btn-primary">Novo</a>

<table class="table mt-3">
  <thead>
    <tr class="table-info">
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Categoria</th>
      <th scope="col">Data</th>
      <th scope="col">Valor</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let despesa of despesa">
      <td>{{despesa.idDespesa}}</td>
      <td>{{despesa.nome}}</td>
      <td>{{despesa.categoria}}</td>
      <td>{{despesa.data}}</td>
      <td>{{despesa.valor | currency: 'BRL'}}</td>
      <mat-icon routerLink="/despesas/editar/{{despesa.idDespesa}}" style="margin-right: 10px;">edit</mat-icon>
      <mat-icon (click)="deletar(despesa)">delete</mat-icon>
    </tr>
  </tbody>
</table>

